<div class="modal-header py-2 justify-content-start" ngbAutoFocus>
    <h5 class="modal-title me-auto" >User Details</h5>
    <button class="btn btn-circle btn-circle-danger me-1" placement="bottom" ngbTooltip="Delete" (click)="deleteUser()"><i class="fa-solid fa-trash"></i></button>
    <button class="btn btn-circle btn-circle-primary me-1" placement="bottom" ngbTooltip="Edit" (click)="openUserFormModal()"><i class="fa-solid fa-pencil"></i></button>
    <button class="btn btn-lg btn-circle btn-circle-secondary" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body px-0 pb-0">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th>Full Name</th>
                <td>{{selectedUser.firstName}} {{selectedUser.lastName}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{selectedUser.email}}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    <span *ngIf="selectedUser.isAdmin">Admin</span>
                    <span *ngIf="!selectedUser.isAdmin">User</span>
                </td>
            </tr>
            <tr>
                <th>Added</th>
                <td>{{selectedUser.dateAdded | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{selectedUser.dateUpdated | date: "mediumDate"}}</td>
            </tr>
        </tbody>
    </table>
</div>
