<div *ngIf="loadingUsers">
  <div class="py-5 d-flex align-items-center justify-content-center" *ngIf="loadingUsers">
    <div class="spinner-border" role="status"></div>
    <span class="ml-2 text-nowrap">Loading users...</span>
  </div>
</div>
<div *ngIf="!loadingUsers">
  <div class="d-flex align-items-center px-3 pt-3">
    <h3 class="my-0 mr-3">Users</h3>
    <button class="btn btn-primary ml-auto text-nowrap" (click)="openUserFormDialog(0)"><i
        class="fas fa-plus-circle mr-2 text-nowrap"></i>Add New User</button>
  </div>
  <div class="container-fluid p-3">
    <table class="custom-table bg-white border box-shadow text-nowrap">
      <thead>
        <tr>
          <th scope="col">Account</th>
          <th scope="col">Email</th>
          <th scope="col">Date Added</th>
          <th scope="col">Date Last Modified</th>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <div class="d-flex align-items-center">
              <i class="fas fa-user-circle mr-2"></i>
              <div class="d-block">
                {{user.name}} {{user.surname}}
                <small class="d-flex align-items-center text-muted small" *ngIf="user.isOnline"><i
                    class="fas fa-circle text-success mb-1 mr-1"></i>Online since {{user.dateLastLogin | date:'medium'}}</small>
                <small class="d-flex align-items-center text-muted small" *ngIf="!user.isOnline"><i
                    class="fas fa-circle text-danger mb-1 mr-1"></i>Offline since {{user.dateLastLogoff | date:'medium'}}</small>
              </div>
            </div>
          </td>
          <td>{{user.email}}</td>
          <td>{{user.dateAdded | date:'longDate'}}</td>
          <td>{{user.dateLastUpdated | date:'longDate'}}</td>
          <td>
            <span *ngIf="user.isAdmin">Admin</span>
            <span *ngIf="!user.isAdmin">User</span>
          </td>
          <td>
            <span *ngIf="user.isActivated" class="badge rounded-pill bg-success mr-1">Activated</span>
            <span *ngIf="!user.isActivated" class="badge rounded-pill bg-warning mr-1">Deactivated</span>
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary btn-circle" type="button" id="userMenu" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button"><i class="fas fa-folder-open"></i>View All Details</button>
                <button class="dropdown-item" type="button" (click)="openUserFormDialog(user.id)"><i class="fas fa-edit"></i>Edit Details</button>
                <button class="dropdown-item" type="button"><i class="fas fa-key"></i>Change Password</button>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <button class="dropdown-item text-danger" type="button" (click)="openDeactivateUserDialog()"><i
                    class="fas fa-user-times"></i>Deactivate</button>
                <button class="dropdown-item text-danger" type="button"><i class="fas fa-trash"></i>Delete</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
