.fa-circle{
    font-size: 10px;
}

.fa-user-circle{
    font-size: 32px;
}

.table-container{
  position: absolute;
  top: 16px;
  right: 16px;
  bottom: 16px;
  background-color: white;
  left: 236px;
  overflow: hidden;
}

.table-wrapper{
  width: 100%;
  overflow: auto;
}

@import '../../../../styles.scss';

.card{
  position: absolute;
  top: 16px;
  bottom: 16px;
  left: 236px;
  right: 16px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

table thead{
  z-index: 10 !important;
}

table thead tr th{
  border-bottom: 1px solid $gray-300;
}

table tbody tr td{
  transform: translateY(-1px);
}

table tbody tr:last-of-type td{
  border-bottom: 1px solid $gray-300;
}

tr th:last-of-type{
  text-align: end;
}

tr td:last-of-type{
  text-align: end;
}