<div class="d-flex align-items-center px-3 py-2 bg-white border-bottom" style="height: 53px;">
    <h5 class="my-0">Profile</h5>
</div>
<div class="container-fluid mt-3">
    <div class="row mb-3 justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-bottom-0 bg-secondary">
                    <h5 class="mb-0">Personal Details</h5>
                </div>
                <div class="card-body">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                                    elit, sed do eiusmod tempor incididunt ut labore et 
                                    dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="col-md-8">
                                <app-profile-details-form></app-profile-details-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header border-bottom-0 bg-secondary">
                    <h5 class="mb-0">Password</h5>
                </div>
                <div class="card-body">
                    <div class="container-fluid p-0">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                                    elit, sed do eiusmod tempor incididunt ut labore et 
                                    dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="col-md-8">
                                <app-profile-password-form></app-profile-password-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
