<div class="d-flex align-items-center px-3 py-2 bg-white border-bottom" style="height: 53px;">
    <h5 class="my-0">Profile</h5>
</div>
<div class="container-fluid mt-3">
    <div class="row mb-3 justify-content-center">
        <div class="col-md-6">
            <app-profile-details-form></app-profile-details-form>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <app-profile-password-form></app-profile-password-form>
        </div>
    </div>
</div>
