<div class="card">
  <div class="card-header bg-white p-3">
      <h4>Personal Details</h4>
      <span class="text-muted">Update your personal details by completing the form below.</span>
  </div>
  <div class="card-body">
      <form>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Surname</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
      </form>
  </div>
  <div class="card-footer p-3 bg-light">
      <div class="d-flex">
          <button class="btn btn-primary ml-auto">Update Personal Details</button>
      </div>
  </div>
</div>
