<div class="modal-header py-2" ngbAutofocus>
    <h5 class="modal-title">Warning</h5>
    <button class="btn btn-circle btn-hover-secondary" (click)="closeModal('dismiss')"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body">
    <span>{{message}}</span>
</div>
<div class="modal-footer bg-secondary border-top-0">
    <button type="button" class="btn btn-secondary" (click)="closeModal('cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="closeModal('delete')">Delete</button>
</div>
