<div class="modal-header">
    <h5 class="my-auto">Client Details</h5>
    <button type="button" class="btn-close" (click)="closeModal('dismiss')"></button>
</div>
<div class="modal-body text-center" *ngIf="gettingClient">
    <app-loading-indicator [message]="loadingClientsMessage"></app-loading-indicator>
</div>
<div class="modal-body" *ngIf="!gettingClient">
    <table class="table table-striped table-hover">
        <tbody>
            <tr *ngIf="gettingClient">
                <td colspan="12" class="text-center">
                    <app-loading-indicator [message]="loadingClientsMessage"></app-loading-indicator>
                </td>
            </tr>
            <tr>
                <th>Full name:</th>
                <td>{{client.name}} {{client.surname}}</td>
            </tr>
            <tr>
                <th>Company:</th>
                <td>{{client.companyName}}</td>
            </tr>
            <tr>
                <th>Tags:</th>
                <td class="text-wrap" style="max-width: 300px;">
                    <span class="badge rounded-pill bg-transparent-primary" style="margin: 1px;"
                        *ngFor="let tag of client.tagArray">{{tag}}</span>
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{client.email}}</td>
            </tr>
            <tr>
                <th>Cell number:</th>
                <td>{{client.cellNumber}}</td>
            </tr>
            <tr>
                <th>Telephone number:</th>
                <td>{{client.telNumber}}</td>
            </tr>
            <tr>
                <th>Date added:</th>
                <td>{{client.dateAdded | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Date last contacted:</th>
                <td>{{client.dateLastContacted | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Follow up date:</th>
                <td>{{client.dateFollowUp | date: "mediumDate"}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <!-- <button type="button" class="btn" (click)="closeModal('dismiss')">Cancel</button> -->
    <button type="button" class="btn btn-primary" (click)="closeModal('dismiss')" [disabled]="gettingClient"> Done </button>
</div>