<div class="modal-header" ngbAutofocus>
    <h5 class="my-auto me-auto">Client Details</h5>
    <button class="btn me-3 p-0 text-danger" (click)="deleteClient()" ngbTooltip="Delete" placement="bottom"><i class="fa-solid fa-trash"></i></button>
    <button class="btn me-3 p-0" (click)="openClientNotesModal()" ngbTooltip="Notes" placement="bottom"><i class="fa-solid fa-note-sticky"></i></button>
    <button class="btn me-3 p-0" (click)="openEditClientModal()" ngbTooltip="Edit" placement="bottom"><i class="fa-solid fa-pen"></i></button>
    <button class="btn p-0" ngbTooltip="Close" placement="bottom" (click)="closeModal('dismiss')"><i class="fa-solid fa-xmark" style="font-size: 18px;"></i></button>
</div>
<div class="modal-body text-center" *ngIf="gettingClient">
    <app-loading-indicator [message]="loadingClientMessage"></app-loading-indicator>
</div>
<div class="modal-body" *ngIf="!gettingClient">
    <table class="mb-0 info-table">
        <tbody>
            <tr>
                <th>Full name:</th>
                <td>{{client.name}} {{client.surname}}</td>
            </tr>
            <tr>
                <th>Company:</th>
                <td>{{client.companyName}}</td>
            </tr>
            <tr>
                <th>Tags:</th>
                <td class="text-wrap" style="max-width: 300px;">
                    <span class="badge rounded-pill bg-transparent-primary" style="margin: 1px;"
                        *ngFor="let tag of client.tagArray">{{tag}}</span>
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{client.email}}</td>
            </tr>
            <tr>
                <th>Cell number:</th>
                <td>{{client.cellNumber}}</td>
            </tr>
            <tr>
                <th>Telephone number:</th>
                <td>{{client.telNumber}}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>
                    <span *ngIf="client.isActive" class="badge rounded-pill bg-transparent-success">Active</span>
                    <span *ngIf="!client.isActive" class="badge rounded-pill bg-transparent-danger">Inactive</span>
                </td>
            </tr>
            <tr>
                <th>Date last contacted:</th>
                <td>{{client.dateLastContacted | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Follow up date:</th>
                <td>{{client.dateFollowUp | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Date added:</th>
                <td>{{client.dateAdded | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Date updated:</th>
                <td>{{client.dateUpdated | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Last Editor:</th>
                <td>{{client.lastEditor!.name}} {{client.lastEditor!.surname}}</td>
            </tr>
            <tr>
                <th>Recent Information:</th>
                <td>{{client.recentInformation}}</td>
            </tr>
        </tbody>
    </table>
</div>