<div class="d-flex align-items-center border-bottom px-3 py-2 bg-white mb-3">
    <h5 class="my-0 me-auto">Tags</h5>
    <button class="btn btn-circle btn-circle-secondary me-1" placement="bottom" ngbTooltip="Refresh"><i class="fa-solid fa-refresh"></i></button>
    <button class="btn btn-circle btn-circle-primary" placement="bottom" ngbTooltip="Add" (click)="openTagFormModal()"><i class="fa-solid fa-plus"></i></button>
</div>
<div class="px-3">
    <table class="table table-hover mb-0 align-middle text-nowrap bg-white border">
        <thead>
            <tr class="bg-dark text-white">
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Added</th>
                <th scope="col">Updated</th>
                <th scope="col">Last Editor</th>
            </tr>
        </thead>
        <tbody class="border-top">
            <tr>
                <td colspan="12" class="text-center" *ngIf="loadingTags">
                    <app-loading-indicator [loading]="loadingTags"></app-loading-indicator>
                </td>
            </tr>
            <tr *ngIf="tags.length == 0 && !loadingTags">
                <td colspan="12" class="text-center">No data found</td>
            </tr>
            <tr *ngFor="let tag of tags" (click)="openTagDetailsModal(tag)">
                <td class="border-end">{{tag.name}}</td>
                <td class="border-end">
                    <span class="badge rounded-pill bg-transparent-primary me-1" *ngIf="tag.isClientTag">Client Tag</span>
                    <span class="badge rounded-pill bg-transparent-primary me-1" *ngIf="tag.isPropertyTag">Property Tag</span>
                </td>
                <td class="border-end">{{tag.dateAdded | date: 'mediumDate'}}</td>
                <td class="border-end">{{tag.dateUpdated | date: 'mediumDate'}}</td>
                <td class="border-end">{{tag.lastEditor}}</td>
            </tr>
        </tbody>
    </table>
</div>