<div class="modal-header border-bottom-0">
    <h5 class="modal-title"><i class="{{iconClass}} me-2 text-{{themeClass}}"></i>{{title}}</h5>
    <button class="btn p-0" ngbTooltip="Close" placement="bottom" (click)="closeModal('dismiss')"><i class="fa-solid fa-xmark" style="font-size: 18px;"></i></button>
</div>
<div class="modal-body py-2">
    <span>{{message}}</span>
</div>
<div class="modal-footer border-top-0">
    <button type="button" class="btn btn-secondary" (click)="closeModal('dismiss')">Cancel</button>
    <button type="button" class="btn btn-{{themeClass}}" (click)="closeModal('confirm')" ngbAutofocus>{{action}}</button>
</div>
