<div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content" *ngIf="gettingClientTags">
        <div class="py-5 d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status"></div>
            <span class="me-2 text-nowrap">Loading client tags...</span>
        </div>
    </div>
    <form class="modal-content" *ngIf="!gettingClientTags">
        <div class="modal-header">
            <h4 class="my-auto">Edit Client Tags</h4>
            <button type="button" class="btn-close" (click)="closeDialog('closed')"></button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label class="form-label w-100">Tags</label>

                <span *ngFor="let tag of tags"> 
                    <input type="checkbox" class="btn-check" id="{{tag.name}}" autocomplete="off" value="{{tag.id}}" (change)="onCheckChange($event)">
                    <label class="btn btn-outline-primary rounded-pill mb-1 me-1" for="{{tag.name}}">{{tag.name}}</label>
                </span>

                <div class="form-text">Select tags that are relevant to the client.</div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary">Cancel</button>
            <button type="button" class="btn btn-primary">Update Client Tags</button>
        </div>
    </form>
</div>
