
<form [formGroup]="form">
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName"
            [ngClass]="{ 'is-invalid': form.controls.firstName.errors && submitted}">
        <div class="invalid-feedback">
            <div *ngIf="form.controls.firstName.errors?.required">Required field</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName"
            [ngClass]="{ 'is-invalid': form.controls.lastName.errors && submitted}">
        <div class="invalid-feedback">
            <div *ngIf="form.controls.lastName.errors?.required">Required field</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" formControlName="email"
            [ngClass]="{ 'is-invalid': form.controls.email.errors && submitted}">
        <div class="invalid-feedback">
            <div *ngIf="form.controls.email.errors?.required">Required field</div>
            <div *ngIf="form.controls.email.errors?.email">Invalid email</div>
        </div>
    </div>
</form>
<div class="d-flex justify-content-end">
    <button class="btn btn-secondary me-2" (click)="setUserForm()">Cancel</button>
    <button class="btn btn-primary" (click)="submit()" [disabled]="loadingUser || submittingUser">Update Personal Details</button>
</div>