<div class="modal-header" ngbAutofocus>
  <h5 class="modal-title" *ngIf="id! == 0">Add New User</h5>
  <h5 class="modal-title" *ngIf="id! > 0">Edit User</h5>
  <button class="btn p-0" ngbTooltip="Close" placement="bottom" (click)="closeModal('dismiss')"><i class="fa-solid fa-xmark" style="font-size: 18px;"></i></button>
</div>
<div class="modal-body text-center" *ngIf="gettingUser">
  <app-loading-indicator [message]="loadingUserMessage"></app-loading-indicator>
</div>
<div class="modal-body" *ngIf="!gettingUser">
  <form [formGroup]="form">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name"
        [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors}">
      <div class="invalid-feedback">
        <div *ngIf="form.controls.name.errors?.required">Required field</div>
        <div *ngIf="form.controls.name.errors?.maxlength">Exceeded the max length of 500 characters</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="surname" class="form-label">Surname</label>
      <input type="text" class="form-control" id="surname" formControlName="surname"
        [ngClass]="{ 'is-invalid': submitted && form.controls.surname.errors}">
      <div class="invalid-feedback">
        <div *ngIf="form.controls.surname.errors?.required">Required field</div>
        <div *ngIf="form.controls.surname.errors?.maxlength">Exceeded the max length of 500 characters</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" formControlName="email"
        [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors}">
      <div class="invalid-feedback">
        <div *ngIf="form.controls.email.errors?.required">Required field</div>
        <div *ngIf="form.controls.email.errors?.email">Invalid email</div>
        <div *ngIf="form.controls.email.errors?.maxlength">Exceeded the max length of 500 characters</div>
      </div>
    </div>
  </form>
  <div *ngIf="id! == 0">
    <p>The default password will be set to "initpass".</p>
    <p class="mb-0">Request the user to change their account password when they login in for the first time.</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn" (click)="closeModal('dismiss')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="updatingUser || addingUser || gettingUser">
    <span *ngIf="id! == 0">
      <span *ngIf="!addingUser">Add User</span>
      <span *ngIf="addingUser">
        <span class="spinner-border spinner-border-sm" role="status"></span>
        <span class="ms-2">Adding User
        </span>
      </span>
    </span>
    <span *ngIf="id! > 0">
      <span *ngIf="!updatingUser">Update User</span>
      <span *ngIf="updatingUser">
        <span class="spinner-border spinner-border-sm" role="status"></span>
        <span class="ms-2">Updating User</span>
      </span>
    </span>
  </button>
</div>