<div class="container-fluid p-3">
    <div class="d-flex align-items-center mb-3">
        <h1 class="h2 my-auto mr-3">Clients</h1>
        <button class="btn btn-main ml-auto text-nowrap"><i class="fas fa-plus-circle mr-2"></i>Add New Client</button>
    </div>
    <div class="row align-items-center mb-3">
        <div class="col-md-6">
            <div class="d-flex align-items-center">
                <input type="search" class="form-control mr-2 w-100" placeholder="Search clients...">
                <span class="text-nowrap">1000 Results</span>
            </div>
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
            <div class="d-flex align-items-center">
                <button class="btn btn-outline-gray-2 text-main border-0 ml-md-auto mr-1 text-nowrap"><i class="fas fa-filter mr-2"></i>Filter List</button>
                <button class="btn btn-outline-gray-2 text-main border-0 text-nowrap"><i class="fas fa-file-excel mr-2"></i>Export Excel</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table bg-white border">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>