<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Delete Client</h5>
      <button class="btn-close text-reset" (click)="closeDialog('closed')"></button>
    </div>
    <div class="modal-body">
      <p class="mb-0">Are you sure you want to delete this client? This clients's data will be permanently lost, and the
        action cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeDialog('Closed')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteClient()" [disabled]="deletingClient">
        <span *ngIf="!deletingClient">Delete Client</span>
        <div class="d-flex" *ngIf="deletingClient">
          <span class="spinner-border spinner-border-sm"></span>
          <span class="ms-2">Deleting Client</span>
        </div>
      </button>
    </div>
  </div>
</div>