<div class="card">

    <div class="card-header bg-white p-3">
        <h4>Account Overview</h4>
        <span class="text-muted">Here is an overview of your account information.</span>
    </div>

    <div class="card-body">

        <div class="mb-3 row">
            <label for="name" class="form-label">Name</label>
            <div class="">
                <!-- <input type="text" readonly class="form-control-plaintext account-info-text" id="name" value="John Doe"> -->
                <span>{{name}} {{surname}}</span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="email" class="form-label">Email Address</label>
            <div class="">
                <!-- <input type="text" readonly class="form-control-plaintext account-info-text" id="email" value="johndoe@gmail.com"> -->
                <span>{{email}}</span>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="role" class="form-label">Role</label>
            <div class="">
                <input type="text" readonly class="form-control-plaintext account-info-text" id="role" value="User">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="dateAdded" class="form-label">Date Added</label>
            <div class="">
                <!-- <input type="text" readonly class="form-control-plaintext account-info-text" id="dateAdded" value="27 January 2022"> -->
                <span>{{dateAdded}}</span>
            </div>
        </div>

    </div>

    <div class="card-footer p-3 bg-light">
        <div class="d-flex">

        </div>
    </div>

</div>