tr:last-child td{
    border-bottom: 0 !important;
}

tbody tr{
    cursor: pointer;
}

.show-search{
    width: 40%;
    transition: all 0.3s;
    display: inline;
}

.hide-search{
    width: 0%;
    transition: all 0.3s;
    display: none;
}
