<form [formGroup]="form" class="d-flex flex-column border-end" style="width: 400px; height: calc(100vh - 134px)"
  [ngClass]="{'d-block': showFilters, 'd-none' : !showFilters }">

  <div class="d-flex border-bottom px-3 py-2 bg-light">
    <b>Total Results: {{total}}</b>
  </div>

  <div class="p-3 overflow-auto">

    <label class="form-label">Search</label>
    <div class="input-group mb-3">
      <span class="input-group-text bg-light border-left-0"><i class="fa-solid fa-magnifying-glass"></i></span>
      <input type="text" class="form-control" placeholder="Search name, surname, company">
    </div>

    <label class="form-label">Added Date Range</label>
    <div class="d-flex mb-3 align-items-center">
      <input type="date" class="form-control" id="dateAddedStart" formControlName="dateAddedStart">
      <span class="mx-2">to</span>
      <input type="date" class="form-control" id="dateAddedEnd" formControlName="dateAddedEnd">
    </div>

    <label class="form-label">Updated Date Range</label>
    <div class="d-flex mb-3 align-items-center">
      <input type="date" class="form-control" id="dateLastUpdatedStart" formControlName="dateLastUpdatedStart">
      <span class="mx-2">to</span>
      <input type="date" class="form-control" id="dateLastUpdatedEnd" formControlName="dateLastUpdatedEnd">
    </div>

    <label class="form-label">Last Contacted Date Range</label>
    <div class="d-flex mb-3 align-items-center">
      <input type="date" class="form-control" id="dateLastContactedStart" formControlName="dateLastContactedStart">
      <span class="mx-2">to</span>
      <input type="date" class="form-control" id="dateLastContactedEnd" formControlName="dateLastContactedEnd">
    </div>

    <label class="form-label">Follow Up Date Range</label>
    <div class="d-flex mb-3 align-items-center">
      <input type="date" class="form-control" id="dateFollowUpStart" formControlName="dateFollowUpStart">
      <span class="mx-2">to</span>
      <input type="date" class="form-control" id="dateFollowUpEnd" formControlName="dateFollowUpEnd">
    </div>

  </div>

  <div class="d-flex border-top p-3 bg-light mt-auto">
    <button class="btn btn-secondary w-100 me-2" (click)="reset()">Clear All</button>
    <button type="button" class="btn btn-primary w-100" (click)="submit()">Filter List</button>
  </div>

</form>
