.card{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 350px;
    z-index: 10;
}

.login-background{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../assets/images/LoginBackground.png');
  background-size: cover;
}

.danger-snackbar{
  background-color: red !important;
}
