<div class="login-background bg-light border-top">
  <form class="card p-3" [formGroup]="form">
    <div class="card-body">

      <div class="d-flex justify-content-center mb-4">
        <img src="assets/images/RoshPinaPropertiesLogi.png" alt="" class="img-fluid mx-auto"
          style="width: 100px;">
      </div>

      <p class="text-center mb-4">Welcome to the Rosh Pinah CRM. Enter your login details below to sign in.</p>

      <div class="form-floating mb-4">
        <input type="email" class="form-control" formControlName="email" id="floatingInput"
          placeholder="name@example.com" [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors}">
        <label for="floatingInput">Email address</label>
        <div class="invalid-feedback">
          <div *ngIf="form.controls.email.errors?.required">Required field</div>
          <div *ngIf="form.controls.email.errors?.email">Invalid email</div>
          <div *ngIf="form.controls.email.errors?.maxlength">Exceeded the max length of 500 characters</div>
        </div>
      </div>

      <div class="form-floating mb-4">
        <input type="password" class="form-control" formControlName="password" id="floatingPassword"
          placeholder="Password" [ngClass]="{ 'is-invalid': submitted && form.controls.password.errors}">
        <label for="floatingPassword">Password</label>
        <div class="invalid-feedback">
          <div *ngIf="form.controls.password.errors?.required">Required field</div>
          <div *ngIf="form.controls.email.errors?.maxlength">Exceeded the max length of 500 characters</div>
        </div>
      </div>

      <button class="btn btn-primary w-100 py-3" (click)="submit()" [disabled]="loggingIn">
        <span *ngIf="!loggingIn">Login<i class="fas fa-sign-in-alt ms-2"></i></span>
        <span *ngIf="loggingIn">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="ms-2 text-white">Logging In...</span>
        </span>
      </button>
    </div>
  </form>
</div>

