<div class="card">
    <div class="card-body">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-md-4">
                    <h5>Change Password</h5>
                </div>
                <div class="col-md-8">
                    <form [formGroup]="form">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Current Password</label>
                            <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword"
                                [ngClass]="{ 'is-invalid': form.controls.currentPassword.errors && submitted}">
                            <div class="invalid-feedback">
                                <div *ngIf="form.controls.currentPassword.errors?.required">Required field</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
                                [ngClass]="{ 'is-invalid': form.controls.newPassword.errors && submitted}">
                            <div class="invalid-feedback">
                                <div *ngIf="form.controls.newPassword.errors?.required">Required field</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmNewPassword" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword"
                                [ngClass]="{ 'is-invalid': form.controls.confirmNewPassword.errors && submitted}">
                            <div class="invalid-feedback">
                                <div *ngIf="form.controls.confirmNewPassword.errors?.required">Required field</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-secondary border-top-0 p-3">
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="submit()" [disabled]="submitting">Update Password</button>
        </div>
    </div>
</div>  
