<form class="card p-4">
    <div class="card-body">
        <h1 class="text-center mb-4">New Password</h1>
        <p class="text-center mb-4">Your account has been verified. Please enter your new password below.</p>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingInput" placeholder="Password">
            <label for="floatingInput">New Password</label>
        </div>
        <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingInput" placeholder="Confirm Password">
            <label for="floatingInput">Confirm New Password</label>
        </div>
        <button class="btn btn-main w-100 mb-4" [routerLink]="['']">
            <span>Update Password</span>
        </button>
        <div class="text-center">
            <span>Return to <a [routerLink]="['']">Login</a></span>
        </div>
    </div>
</form>
