<div class="modal fade" id="userFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form class="modal-content" [formGroup]="form">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- FORM GOES HERE. Use a form tag -->

        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="email" class="form-control" id="name" formControlName="name" aria-describedby="emailHelp"
            [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors}">
          <div class="invalid-feedback">
            <div *ngIf="form.controls.name.errors?.required">Required field</div>
            <div *ngIf="form.controls.name.errors?.maxlength">Exceeded the max length of 500 characters</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="surname" class="form-label">Surname</label>
          <input type="email" class="form-control" id="surname" formControlName="surname" aria-describedby="emailHelp"
            [ngClass]="{ 'is-invalid': submitted && form.controls.surname.errors}">
          <div class="invalid-feedback">
            <div *ngIf="form.controls.surname.errors?.required">Required field</div>
            <div *ngIf="form.controls.surname.errors?.maxlength">Exceeded the max length of 500 characters</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp"
            [ngClass]="{ 'is-invalid': submitted && form.controls.email.errors}">
          <div class="invalid-feedback">
            <div *ngIf="form.controls.email.errors?.required">Required field</div>
            <div *ngIf="form.controls.email.errors?.email">Invalid email</div>
            <div *ngIf="form.controls.email.errors?.maxlength">Exceeded the max length of 500 characters</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="submit()">Add User</button>
      </div>
    </form>
  </div>
</div>