$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;

$primary: #2062fd;
$secondary: #E9ECEF;
$dark: #212529;
$light: #F8F9FA;
$danger: #f21b3f;
$success: #29bf12;
$warning: #ff9914;

$primary-focus: rgba($primary, 0.8);
$secondary-focus: rgba($secondary, 0.8);
$dark-focus: rgba($dark, 0.8);
$danger-focus: rgba($danger, 0.8);
$light-focus: rgba($light, 0.8);
$success-focus: rgba($success, 0.8);
$warning-focus: rgba($warning, 0.8);

$box-shadow: rgba(50, 50, 105, 0.1) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "light": $light,
    "danger": $danger,
    "success": $success,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1100px
);

body{
    color: $dark !important;
}

.box-shadow{
  box-shadow: $box-shadow;
}

//Typography
$font-size-base: 0.85rem;

//Form control styles
$input-focus-box-shadow: none;

//button styles
$btn-active-border-shade-amount:  5%;

.btn-circle{
  border-radius: 50% !important;
}

.btn-circle i {
  width: 14px;
  height: 14px;
}

.btn-secondary{
  border: 1px solid $gray-400 !important;
}

button i{
  width: 14px;
  height: 14px;
}

.btn:focus {
  box-shadow: none !important;
}

.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
    background-color: #0f55fa;
}

.btn.btn-secondary:active:hover,
.btn.btn-secondary:hover {
    background-color: $gray-300;
    color: $dark !important;
}

.btn.btn-light:active:hover,
.btn.btn-light:hover {
    background-color: $gray-200;
    border-color: $gray-200 !important;
    color: $dark !important;
}

//table styles
.custom-table{
  width: 100%;
  background-color: #ffffff;
  box-shadow: $box-shadow;
}

.custom-table th, .custom-table td{
  border-top: 1px solid $gray-400;
  border-bottom: 1px solid $gray-400;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-overflow: ellipsis
}

//Badge styles
.badge{
  padding: 4px 8px !important;
}

//Dropdown styles
$dropdown-link-hover-bg: $light;
$dropdown-link-active-color: none;
$dropdown-link-active-bg: $gray-200;
$dropdown-border-color: $gray-300;

.dropdown-item i{
  width: 20px;
  margin-right: 16px
}

.dropdown-divider{
  background-color: $gray-600 !important;
  height: 1px !important;
}

.dropdown-menu{
  box-shadow: $box-shadow !important;
}

//Card styles 
.card{
  box-shadow: $box-shadow !important;
}

.card-header{
  border-color: $gray-300 !important;
}

.card-footer{
  border-top: none !important;
  border-color: $gray-300 !important;
}

//Offcanvas styles
.offcanvas{
  z-index: 2000 !important;
}

//List group stylies
$list-group-link-hover-bg: $light;
$list-group-link-active-color: none;
$list-group-link-active-bg: $gray-200;
$list-group-border-color: $gray-300;

.list-group .active{
  background-color: $gray-100 !important;
  color: $dark !important;
  border-color: $gray-300 !important;
  border-left: 4px solid $primary !important;
}

.list-group-item-action{
  cursor: pointer;
}

.list-group-item-action:hover{
  cursor: pointer;
  color: $dark !important;
}

//Modal styles

.modal-footer{
  border-top: none !important;
  background-color: $light;
}

@import '../node_modules/bootstrap';
