
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

//Theming
$primary: #0c4c9c;
$success: #198754;
$danger: #dc3545;
$light: #f8f9fa;
$secondary: #e9ecef;
$dark: #212529;

//box-shadow styles
$box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

.box-shadow{
  box-shadow: $box-shadow;
}

//Container styles
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1000px
);

//Typography
$font-size-base: 0.9rem;

//button styles
a i, button i, .dropdown-item i{
  width: 16px !important;
  text-align: center !important;
}

.btn-circle{
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px !important;
  min-height: 36px !important;
  width: 36px !important;
  min-width: 36px !important;;
  padding: 0px !important;
}

.btn-circle-secondary:hover{
  background-color: $secondary;
}

.btn-circle-danger:hover{
  color: $danger !important;
  background-color: rgba($danger, 0.1) !important;
}

.btn-circle-primary:hover{
  color: $primary !important;
  background-color: rgba($primary, 0.1) !important;
}

//table styles
$table-cell-padding-y: 0.5rem;
$table-cell-padding-x: 0.94rem;
$table-striped-bg: $light;      

$table-hover-bg: $secondary;

.table-row-hover-light:hover{
  background: $light;
}

.info-table{
  width: 100%;
}

.info-table td, th{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}

//offcanvas styles
.offcanvas{
  box-shadow: $box-shadow;
  z-index: 2000 !important;
}

//dropdown styles
.dropdown-menu{
  box-shadow: $box-shadow;
}

.dropdown-item{
  cursor: pointer;
}

//alert styles
.alert-success button{
  background-color: $success;
  color: white;
  margin: 8px;
}

.alert-danger button{
  background-color: $danger;
  color: white;
  margin: 8px;
}

//Card styles


//Background styles
.bg-transparent-primary{
  color: $primary !important;
  background-color: rgba($primary, 0.1) !important;
}

.bg-transparent-success{
  color: $success !important;
  background-color: rgba($success, 0.1) !important;
}

.bg-transparent-danger{
  color: $danger !important;
  background-color: rgba($danger, 0.1) !important;
}

//model styles
.modal-content{
  box-shadow: $box-shadow !important;
}

.custom-dialog{
  transform: translate(-50%, -50%);
}

.modal.fade {
  background: rgba(0, 0, 0, 0.3);
}

.modal-backdrop.fade {
  opacity: 10000;
}

//Form control styles

.search-input i{
  position: absolute;
  transform: translateX(12px) translateY(10px);
}

.search-input input{
  padding-left: 36px !important;
  padding-right: 0px !important;
}


.show-search{
  width: 30%;
  transition: all 0.3s;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 8px;
}

.hide-search{
  width: 0%;
  transition: all 0.3s;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
}

//Badge styles
$badge-font-size: .70em;


@import "../node_modules/bootstrap/scss/bootstrap";




