
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;

$primary: #0c4c9c;
$secondary: #E9ECEF;
$dark: #212529;
$light: #F8F9FA;
$danger: #9c0c0c;
$success: #299c0c;
$warning: #ee9b00;

$primary-focus: rgba($primary, 0.8);
$secondary-focus: rgba($secondary, 0.8);
$dark-focus: rgba($dark, 0.8);
$danger-focus: rgba($danger, 0.8);
$light-focus: rgba($light, 0.8);
$success-focus: rgba($success, 0.8);
$warning-focus: rgba($warning, 0.8);

$box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "dark": $dark,
    "light": $light,
    "danger": $danger,
    "success": $success,
    "warning": $warning,
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1100px
);

body{
    color: $dark !important;
}

.box-shadow{
  box-shadow: $box-shadow;
}

//Typography
$font-size-base: 0.85rem;

//Form control styles
$input-focus-box-shadow: none;

//button styles
$btn-active-border-shade-amount:  5%;

.btn-circle{
  border-radius: 50% !important;
}

.btn-circle i {
  width: 14px;
  height: 14px;
}

button i{
  width: 14px;
  height: 14px;
}

.btn:focus, .btn-close:focus {
  box-shadow: none !important;
}

.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
    background-color: #0b4386;
}

.btn.btn-secondary:active:hover,
.btn.btn-secondary:hover {
    background-color: $gray-300;
    color: $dark !important;
}

.btn.btn-light:active:hover,
.btn.btn-light:hover {
    background-color: $gray-200;
    border-color: $gray-200 !important;
    color: $dark !important;
}

//table styles
.custom-table{
  width: 100%;
  background-color: #ffffff;
}

.custom-table th, .custom-table td{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-overflow: ellipsis
}

.custom-table tbody td{
  border-top: 1px solid $gray-300;
}

.custom-table tbody tr:hover{
  background-color: $gray-100 !important;
}

.custom-table thead tr:hover{
  background-color: #ffffff;
}

//Badge styles
.badge{
  padding: 4px 8px !important;
}

//Dropdown styles
$dropdown-link-hover-bg: $light;
$dropdown-link-active-color: none;
$dropdown-link-active-bg: $gray-200;
$dropdown-border-color: $gray-300;

.dropdown-item i{
  width: 20px;
  margin-right: 16px
}

.dropdown-divider{
  background-color: $gray-600 !important;
  height: 1px !important;
}

.dropdown-menu{
  box-shadow: $box-shadow !important;
}

//Card styles
.card{
  box-shadow: $box-shadow !important;
}

.card-header{
  border-color: $gray-300 !important;
}

.card-footer{
  border-top: none !important;
  border-color: $gray-300 !important;
}

//Offcanvas styles
.offcanvas{
  z-index: 2000 !important;
}

//List group stylies
$list-group-link-hover-bg: $light;
$list-group-link-active-color: none;
$list-group-link-active-bg: $gray-200;
$list-group-border-color: $gray-300;

.list-group .active{
  background-color: $gray-200 !important;
  color: $dark !important;
  border-color: $gray-300 !important;
  border-left: 4px solid $primary !important;
}

.list-group-item-action{
  cursor: pointer;
}

.list-group-item-action:hover{
  cursor: pointer;
  color: $dark !important;
}

//Modal styles
.modal-footer{
  border-top: none !important;
  background-color: $light;
}

.modal-header .btn-close{
  transform: translateX(-6px);
}

//alert styles
.alert button{
  background-color: transparent !important;
}

.alert{
  color: $dark !important;
}

@import '../node_modules/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
