<app-top-bar></app-top-bar>
<div class="side-nav d-flex flex-column">
    <p class="small text-gray-500 ps-3 mb-1 mt-3">Menu</p>
    <button class="side-nav-button px-3 py-2" [routerLink]="['clients']" routerLinkActive="router-link-active"><i class="fas fa-user-group me-2"></i>Clients</button>
    <button disabled class="side-nav-button px-3 py-2 disabled" [routerLink]="['properties']" routerLinkActive="router-link-active"><i class="fas fa-building me-2"></i>Properties</button>
    <p class="small text-gray-500 ps-3 mb-1 mt-3">Admin</p>
    <button disabled class="side-nav-button px-3 py-2 disabled d-none" [routerLink]="['audit-log']" routerLinkActive="router-link-active"><i class="fas fa-lock me-2"></i>Audit Log</button>
    <button class="side-nav-button px-3 py-2" [routerLink]="['users']" routerLinkActive="router-link-active" [disabled]="!admin" [ngClass]="{'disabled': !admin}">
      <i class="fas fa-lock me-2" *ngIf="!admin"></i>
      <i class="fas fa-users me-2" *ngIf="admin"></i>
      <span>Users</span>
    </button>
    <p class="small text-gray-500 ps-3 mb-1 mt-3">General</p>
    <button class="side-nav-button px-3 py-2" [routerLink]="['account-settings']" routerLinkActive="router-link-active"><i class="fas fa-user-cog me-2"></i>Account Settings</button>
    <button disabled class="side-nav-button px-3 py-2 disabled" [routerLink]="['help']" routerLinkActive="router-link-active"><i class="fas fa-circle-question me-2"></i>Help</button>
    <button class="side-nav-button px-3 py-2" (click)="logout()"><i class="fas fa-sign-out-alt me-2"></i>Logout</button>
    <small class="mt-auto p-3 text-gray-500">Version 1.1.0</small>
</div>
<div class="main">
    <router-outlet></router-outlet>
</div>
