@import '../../../styles.scss';

.sid-nav{
    background-color: #ffffff;
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 48px;
    z-index: 11;
    overflow-x: hidden !important;
}

.sid-nav-logo{
    height: 66px;
    padding: 8px;
    padding-left: 11px;
    display: flex;
    align-items: center;
    overflow-y: none !important;
}

.sid-nav-logo img{
    width: 30px;
    overflow-y: none !important;
}

.side-nav-body{
    position: fixed;
    top: 66px;
    bottom: 48px;
    width: 200px;
    overflow-y: auto;
}

.router-link-active {
    background-color: $light !important;
    color: $primary !important;
    border-left: 4px solid $primary !important;
}

.router-link-active i{
    color: $primary;
}

.sid-nav-item{
    padding-top: 8px;
    padding-left: 12px;
    padding-bottom: 8px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: #ffffff;
    height: 40px;
    border-left: 4px solid transparent;
}

.sid-nav-item:hover {
    background-color: $light;
}

.sid-nav-item:active{
    background-color: $gray-300;
}

.sid-nav-item i {
    width: 20px;
    margin-right: 18px;
    text-align: center;
    background: transparent;
}

.logout-button{
    position: fixed;
    bottom: 0;
    height: 48px !important;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 8px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: #ffffff;
    height: 40px;
    z-index: 11;
    width: 200px;
}

.logout-button i {
    width: 20px;
    margin-right: 18px;
    text-align: center;
    background: transparent;
}

.logout-button:hover {
    background-color: $light;
}

app-top-bar{
    position: fixed;
    top: 0;
    left: 53px;
    right: 0;
    background: #ffffff;
    height: 66px;
    z-index: 12;
    transition: all 0.3s;
}

.main{
    position: fixed;
    left: 53px;
    top: 66px;
    right: 0;
    bottom: 0;
    z-index: 12;
    background-color: $light;
    overflow: auto;
    transition: all 0.3s;
}

.expanded{
    left: 199px !important;
}

a{
    cursor: pointer;
}