<div class="modal-header py-2 justify-content-start" ngbAutoFocus>
    <h5 class="modal-title me-auto" >Property Details</h5>
    <button class="btn btn-circle btn-hover-danger me-1" placement="bottom" ngbTooltip="Delete" (click)="deleteProperty()" [disabled]="loadingProperty"><i class="fa-solid fa-trash"></i></button>
    <button class="btn btn-circle btn-hover-primary me-1" placement="bottom" ngbTooltip="Edit" (click)="openPropertyFormModal()" [disabled]="loadingProperty"><i class="fa-solid fa-pencil"></i></button>
    <button class="btn btn-circle btn-hover-secondary" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
</div>
<div class="modal-body px-0 pb-0">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{selectedProperty.name}}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{selectedProperty.owner}}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td><app-tag-list [tagListString]="selectedProperty.tags"></app-tag-list></td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{selectedProperty.price | currency:"R":"symbol"}}</td>
            </tr>
            <tr>
                <th>LOI</th>
                <td>{{selectedProperty.dateLoi | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Added</th>
                <td>{{selectedProperty.dateUpdated | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{selectedProperty.dateUpdated | date: "mediumDate"}}</td>
            </tr>
            <tr>
                <th>Last Editor</th>
                <td>{{selectedProperty.lastEditor?.firstName}} {{selectedProperty.lastEditor?.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>
