<div class="modal-dialog modal-dialog-scrollable">
    <form [formGroup]="form" class="modal-content">
        <div class="modal-header">
            <h4 class="my-auto">Edit Follow Up</h4>
            <button type="button" class="btn-close" (click)="closeDialog('closed')"></button>
        </div>
        <div class="modal-body">

            <div class="mb-3">
                <label for="dateLastContacted" class="form-label">Date Last Contacted</label>
                <input type="date" class="form-control" id="dateLastContacted" formControlName="dateLastContacted"
                    [ngClass]="{ 'is-invalid': submitted && form.controls.dateLastContacted.errors}">
                <div class="invalid-feedback">
                </div>
            </div>

            <div class="mb-3">
                <label for="dateFollowUp" class="form-label">Follow Up Date</label>
                <input type="date" class="form-control" id="dateFollowUp" formControlName="dateFollowUp"
                    [ngClass]="{ 'is-invalid': submitted && form.controls.dateFollowUp.errors}">
                <div class="invalid-feedback">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDialog('closed')">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="submit()">Update Tags</button>
        </div>

    </form>
</div>

